.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#radio input {
    margin: .4rem;
}

.site-content {
	flex: 1;
}

.custom-toggler.navbar-toggler {
	border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.img {
	height: 50px;
	border-radius: 3px;
	margin : 1px;
}

footer ul {
	list-style-type: none;
}

header a{
	color : #ffffff;
}

header a:focus, header a:hover{
	color : #d6d4d5;
}

footer a:focus, footer a:hover{
	color : #d6d4d5;
}

footer a{
	color : #ffffff;
}

.addate {
	background-color: rgba(102, 102, 102,0.4);
	border: 1px solid rgba(102, 102, 102,0.4);
}

.adbackground {
	background-color: rgba(102, 102, 102,0.1);
	border: 1px solid rgba(102, 102, 102,0.1);
}

.card-body {
	padding : 0.5rem;
}

.modal-fail .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #ef513a;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-fail .icon-box i {
	font-size: 56px;
	position: relative;
	top: 4px;
}

.modal-fail.modal-dialog {
	margin-top: 200px;
}

.modal-fail .btn {
    color: #fff;
    border-radius: 4px;
	background: #ef513a;
	text-decoration: none;
	transition: all 0.4s;
    line-height: normal;
    border: none;
}

.modal-fail .btn:hover, .modal-fail .btn:focus {
	background: #da2c12;
	outline: none;
}

.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}

.modal-confirm.modal-dialog {
	margin-top: 200px;
}

.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background:#82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}

.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #6fb32b;
	outline: none;
}

.modal-confirm .btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #da2c12;
	outline: none;
}

.form-group.required .control-label:after {
  content:" *";
  color:#dc3545;
}